/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
    color: #222222;
    background-color: white;
  }
  
  a {
    /* color: #A2B9B2; */
    text-decoration: none !important;
  }
  
  /* -------------------------------- 
  
  Main Components 
  
  -------------------------------- */