<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page</title>
    <link rel="shortcut icon" href="assets//images/logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/vendors/materialize/css/materialize.min.css"> -->
    <link type="text/css" rel="stylesheet" href="css/main.css"/>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo"><img src="assets/images/logo.png" alt="Logo" height="75px"/></div>
            <h2 class="logo-text">Visionary</h2>
            
            <nav class="navigation">
                <a href="#" ><div class="item">Explore</div></a>
                <a href="#" ><div class="item">Courses</div></a>
                <a href="#" ><div class="item">Articles</div></a>
                <a href="#" ><div class="item">Educators</div></a>
                <a href="#" ><div class="item">About</div></a>
                <a href="#" ><div class="item login">Login</div></a>
            </nav>
        </div>
    </header>
    <section class="artificial-section">
        <div class="content">
            <h2 class="heading">Artificial intelligence</h2>
            <p>VisionarySchoolmen's suite of artificial intelligence application allows for the transcription of audio ad video files dynamically. perform tone analysis on a speaker's dialogue and evaluate in video facial emotion analysis.</p>
            <div class="knowMore">
                <h3> Know More</h3>
                <button>+</button>
            </div>
        </div>

        <div class="imageWrap">
            <img src="assets/images/6th.png" alt="artificial" height="500px" width="500px"/>
        </div>
    </section>
    <section class="trialPromo">
        <h1 class="promoText">Take a free trial and see it for yourself</h1>
        <button class="btn white">get started</button>
    </section>
    <footer class="footer">
            <ul>
                <li>course</li>
                <li>about us</li>
                <li>about us</li>
            </ul>
            <ul>
                <li>Articles</li>
                <li>Privacy policy </li>
                <li>Privacy policy</li>
            </ul>
            <ul>
                <li>videos</li>
                <li>careers</li>
                <li>careers</li>
            </ul>
    </footer>
</body>
<!-- <script src="css/vendors/materialize/js/materialize.min.js"></script> -->
</html>
